.cart-container {
    width: 365px;
    height: 225px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 80px;
    right: 6%;
}

.cart-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid rgb(234, 234, 234);
    height: 225px;
}

.checkout-button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    font-weight: 700;
}