.cart-button-container {
    width: 230px;
}

.cart-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    border: none;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    padding: 15px;
}

.cart-icon {
    height: 15px;
}

.cart-button-container button:hover {
    cursor: pointer;
    background-color: hsla(26, 100%, 55%, 0.674);
}

@media screen and (max-width: 990px) {
    .cart-button-container {
        width: 100%;
    }
}