.product-picture-container {
    width: 100%;
    flex: 1;
}

.big-picture {
    position: relative;
}

.big-picture img {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
}

.big-picture img:hover {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .big-picture img {
        max-height: 350px;
        border-radius: 0;
    }
}