.product-picture-container {
    width: 100%;
    flex: 1;
}

.big-picture img {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
}

.thumbnail-active {
    border: 2px solid hsl(26, 100%, 55%);
}

.thumbnail-active, .thumbnail {
    width: calc(25% - 30px);
    margin-top: 30px;
    border-radius: 15%;
}

@media screen and (max-width: 990px) {
    .big-picture img {
        max-height: 350px;
        border-radius: 0;
    }

    .thumbnails {
        display: none;
    }
}