.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 14, 14, 0.78);
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    z-index: 1; 
}

.overlay-visible {
    visibility: visible;
    opacity: 1;
}

.nav-links-container-menu {
    display: none;
    top: 0;
    width: 65%;
    max-width: 300px;
    position: fixed;
    list-style-type: none;
    height: 100vh;
    transition: left 0.3s ease;
    background-color: white;
    z-index: 1;
}

.nav-links-container-menu.open {
    left: 0px;
    opacity: 1;
}

.nav-links-container-menu li {
    margin: 20px;
}

.nav-links-container-menu a {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    text-decoration: none;
    margin: 0px;
}

@media screen and (max-width: 990px) {
    .nav-links-container-menu {
        display: inline;
    }
}