.previous-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    left: 0;
}

.previous-button img {
    width: 10px;
}

.previous-button:hover {
    cursor: pointer;
}